@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url(img/stback.jpg);
}
.form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100vh;
}
h2 {
  text-align: center;
  margin-bottom: 15px;
  padding-top: 50px;
  color: #635fdc;
}
input,
select,
textarea,
button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  resize: none;
}
button {
  background: #25d366;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background: #1ebc59;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

button {
  margin-top: 20px;
}

.in-put {
  border-radius: 20px;
  border: #888 solid 2px;
}
